<a href="https://colab.research.google.com/github/carlosharder/Machine-Learning/blob/master/ML05_Final_Bank.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

import matplotlib.pylab as plt

In [ ]:
ccdata = pd.read_excel("/content/sample_data/ML05 ccdata.xlsx")

In [ ]:

ccdata.head()

   Sl_No  Customer Key  ...  Total_visits_online  Total_calls_made
0      1         87073  ...                    1                 0
1      2         38414  ...                   10                 9
2      3         17341  ...                    3                 4
3      4         40496  ...                    1                 4
4      5         47437  ...                   12                 3

[5 rows x 7 columns]

In [5]:
ccdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 660 entries, 0 to 659
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Sl_No                660 non-null    int64
 1   Customer Key         660 non-null    int64
 2   Avg_Credit_Limit     660 non-null    int64
 3   Total_Credit_Cards   660 non-null    int64
 4   Total_visits_bank    660 non-null    int64
 5   Total_visits_online  660 non-null    int64
 6   Total_calls_made     660 non-null    int64
dtypes: int64(7)
memory usage: 36.2 KB

In [6]:
ccdata.nunique()

Sl_No                  660
Customer Key           655
Avg_Credit_Limit       110
Total_Credit_Cards      10
Total_visits_bank        6
Total_visits_online     16
Total_calls_made        11
dtype: int64


- There are 5 accounts that are have the same Customer Key. They are likely to be duplicates
- Five of the six features have a low number of classes and thus could be transformed into categories?